@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

:root {
    --black: #101010;
    --yellow: #FFDA18;
}



header {
    background-color: var(--black);
    text-align: center;
    padding: 20px;
    margin: 0px;
}
header > a > img {
    width: 300px;
}
nav {
    background-color: var(--black);
    text-align: center;
    padding: 12px;
}
nav > a {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    line-height: 2em;
    color: white;
    margin: 0px 15px 0px 15px;
    transition-duration: 0.2s;
}
nav > a:hover {
    color: var(--yellow);
}



main {
    margin: auto;
    max-width: 1000px;
}
section {
    margin: auto;
    text-align: center;
}
h1 {
    color: var(--black);
    text-align: left;
    text-indent: 1em;
    text-decoration: underline;
}
img {
    margin: 20px;
    max-height: 220px;
}
hr {
    margin: 20px;
}